@import './../../../assets/scss/main.scss';

.btn {
    font-family: $mainFont;
    background: $gradient;
    border-radius: 22px;
    font-weight: bold;
    font-size: rem(12px);
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1.167em 1.583em;
    position: relative;

    &--bordered {
        padding: 0.167em;     
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        background: #fff;
        width: 100%;
        display: flex;
        border-radius: 24px;
        padding: 1em 1.417em;
    }

    &--apply {
        padding: 0.167em;
        height: auto;
        color: $primary;
        background: none;
    }

    &--cancel {
        padding: 0.167em;
        height: auto;
        color: $dark50;
        background: none;
    }
    
    &--submit {
        width: 100%;

        &:after {
            content: 'arrow_forward';
            position: absolute;
            font-family: 'Material Icons';
            display: inline-block;
            right: 10px;
            font-size: rem(23px);
            text-transform: lowercase;
            font-weight: normal;
        }
    }
}