@import './../../../assets/scss/main.scss';

.like {
    &__form {
        position: relative;
        display: inline-block;
    }

    &__button {
        width: 40px;
        height: 20px;
        border: 1px solid $dark25;
        box-sizing: border-box;
        border-radius: 10px;
        background: transparent;
        position: relative;
        z-index: 10;

        &--active {
            border: 1px solid $primary;
        }

        &--active + .like__value {
            color: $primary;
            
        }

        &--active.like__button::before{
            color: $primary;
            content:'favorite';
        }
        &::before {
            font-family: 'Material Icons';
            display: inline-block;
            position: absolute;
            top: 4px;
            left: 5px;
            font-size: rem(10px);
            content:'favorite_border';
            width: 10px;
            height: 10px;
            color: $dark25;
        }
        
    }

    &__value {
        position: absolute;
        top: 4px;
        right: 10px;
        font-size: rem(10px);
        line-height: 12px;
        color: $dark25;
    }
}