mixin header({state='', name =''})
    if state=='logged'
        .header
            .header__wrap
                .header__logo
                    a.header__logo-link(href="/")
                        include ../../components/header/img/logo.svg
                nav.header__nav.main-nav
                    ul.main-nav__list
                        li.main-nav__item.main-nav__item--active
                            a(href="#").main-nav__link О нас
                        li.main-nav__item.main-nav__item--dropdown
                            a(href="#").main-nav__link Услуги
                        li.main-nav__item
                            a(href="#").main-nav__link Вакансии
                        li.main-nav__item 
                            a(href="#").main-nav__link Новости
                        li.main-nav__item.main-nav__item--dropdown
                            a(href="#").main-nav__link Соглашения
                .header__login
                    p.header__login-name= name
                    
    else
        .header
            .header__wrap
                .header__logo
                    a.header__logo-link(href="/")
                        include ../../components/header/img/logo.svg
                nav.header__nav.main-nav
                    ul.main-nav__list
                        li.main-nav__item.main-nav__item--active
                            a(href="#").main-nav__link О нас
                        li.main-nav__item.main-nav__item--dropdown
                            a(href="#").main-nav__link Услуги
                        li.main-nav__item
                            a(href="#").main-nav__link Вакансии
                        li.main-nav__item 
                            a(href="#").main-nav__link Новости
                        li.main-nav__item.main-nav__item--dropdown
                            a(href="#").main-nav__link Соглашения
                .header__login
                    +button({title: 'Войти', type: 'bordered'})
                    +button({title: 'Зарегистрироваться', type: 'submit'})