@import './../../../assets/scss/main.scss';

.radio {
    &__wrapper {
        display: flex;
    }

    &__input {
        position: absolute;
        left: -1000px;
        opacity: 0;

        &:checked +.radio__text {
            color: $dark75;

            &:before {
                border: 1px solid $primary;
            }
            
            &:after {
                display: block;
                content:'';
                position: absolute;
                left: 4px;
                top: 6px;
                height: 12px;
                width: 12px;
                background: $primary;
                border-radius: 10px;
            }
        }
    }
    
    &__item {
        margin-right: 20px;
    }

    &__text {
        line-height: 24px;
        display: flex;
        align-items: center;
        position: relative;
        color: $dark75;
        
        &:before {
            content:'';
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid $dark25;
            box-sizing: border-box;
            border-radius: 10px;
            margin-right: 10px;
        }
    }
}