mixin information({title='Information title', text='Information text', icon= 'insert_emoticon'})
    .information
        .information__icon
            span.material-icons= icon
        .information__content
            .information__title= title
            .information__text= text