mixin information({title='Information title', text='Information text', icon= 'insert_emoticon'})
    .information__wrapper
        .information__icon
            span.material-icons= icon
        .information__content
            .information__header= title
            .information__text= text