@import './../../../assets/scss/main.scss';

.pie-chart {
    display: flex;

    &__svg {
        position: relative;
        display: flex;
        justify-content: center;
        margin-right: 5px;
    }

    &__legend {
        margin-left: auto;
    }

    &__info {
        position: absolute;
        align-self: center;
        display: flex;
        flex-direction: column;
        margin-top: -3px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }

    &__item {
        display: flex;
        align-items: center;
        line-height: 24px;
        color: $dark75;

        &:before {
            display: block;
            content:'';
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin-right: 5px;
        }

        &--best {
            &:before {
                background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
            }
        }

        &--good {
            &:before {
                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            }
        }

        &--normal {
            &:before {
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            }
        }

        &--bad {
            &:before {
                background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
            }
        }
    }

    &__number {
        font-family: $subFont;
        font-weight: bold;
        font-size: rem(24px);
        line-height: 30px;
        text-align: center;
        color: $primary;
    }

    &__text {
        font-weight: bold;
        font-size: rem(12px);
        line-height: 15px;
        color: $primary;
        text-transform: uppercase;
    }
}