mixin pagination()
    .pagination
        ul.pagination__list
            li.pagination__item.pagination__item--active 
                a.pagination__link 1
            li.pagination__item 
                a.pagination__link  2
            li.pagination__item 
                a.pagination__link 3
            li.pagination__item 
                a.pagination__link ...
            li.pagination__item 
                a.pagination__link 15
            li.pagination__item 
                a.pagination__link arrow_forward
        .pagination__note 1 – 12 из 100+ вариантов аренды
