@import './../../../assets/scss/main.scss';

.pagination {
    &__list {
        display: flex;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark50;
        width: 40px;
        height: 40px;
        border-radius: 22px;

        &--active {
            background: $gradient;
            color: #ffffff;
            .pagination__link {
                color: #ffffff;
            }
        }

        &:last-child {
            font-family: 'Material Icons';
            text-transform: lowercase;
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            color: #ffffff;
            font-size: rem(24px);
            line-height: 20px;

            .pagination__link {
                color: #ffffff;
                font-size: rem(24px);
                line-height: 20px;
            }
        }
    }

    &__link {
        color: $dark50;
        line-height: 15px;
        font-size: rem(12px);
    }

    &__note {
        padding: 8px 0 0 6px;
    }
    
}