@import './../../../assets/scss/main.scss';

.sign-in {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 702px;
    display: flex;
    justify-content: center;
    background-image: url('./img/sign-bg.png');
    background-position: center bottom;
    background-size: cover;
    
    .login {
        align-self: center;
    }
}