mixin calendar()
    .calendar.js-calendar
        .calendar__item-wrap
            label.calendar__label
            input.calendar__elem.js-calendar__elem-start(type="text", name='start')
        .calendar__item-wrap
            label.calendar__label
            input.calendar__elem.js-calendar__elem-end