mixin calendar({type, label='filter date dropdown', labelFrom='date dropdown', labelTo='date dropdown'})
    if type==='dual'
        .calendar.js-calendar
            .calendar__item-wrap
                label.calendar__label(for='calendar-input-start')= labelFrom
                input.calendar__elem.js-calendar__elem-start(type="text", name='calendar-input-start', placeholder='ДД.ММ.ГГГГ')
                button(type='button').calendar__expand
            .calendar__item-wrap
                label.calendar__label(for='calendar-input-end')= labelTo
                input.calendar__elem.js-calendar__elem-end(type="text", name='calendar-input-end', placeholder='ДД.ММ.ГГГГ')
                button(type='button').calendar__expand
    else
        .calendar.calendar--single.js-calendar
            .calendar__item-wrap
                label.calendar__label(for='calendar-input')= label
                input.calendar__elem.js-calendar__elem(type="text", name='calendar-input', placeholder='ДД.ММ - ДД.ММ')
                button(type='button').calendar__expand