@import './../../../assets/scss/main.scss';

.registration {
    width: 380px;
    padding: 40px 30px 30px 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


    &__header {
        font-family: $subFont;
        font-size: rem(24px);
        line-height: 30px;
        margin-bottom: 14px;
    }

    &__option {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn__title {
            padding-left: 2em;
            padding-right: 2em;
        }
    }

    &__name{
        margin-bottom: 5px;
    }

    &__surname {
        margin-bottom: 8px;
    }

    &__gender {
        margin-bottom: 22px;
    }

    &__date {
        margin-bottom: 21px;
    }

    &__email{
        margin-bottom: 5px;
    }

    &__password {
        margin-bottom: 10px;
    }

    &__offer{
        margin-bottom: 23px;
    }

    &__pay {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: $smTableWidth) {
    .registry .registration {
        margin-left: 0;
    }
}