mixin range-slider({name='Range slider'})
    .slider__wrapper
        .slider__info
            .slider__header= name
            .slider__values
                span.slider__value
                input.js-input-from
                span.js-input-to
        input.js-range-slider