@import './../../../assets/scss/main.scss';

.subscribe {
    &__form {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        position: relative;
    }
    &__elem {
        height: 44px;
        background: transparent;
        border: 1px solid $dark25;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 13px 15px;
        color: $dark75;

        &::placeholder {
            font-family: $mainFont;
            line-height: 18px;
            color: $dark25;
        }

        &:hover, &:focus {
            &::placeholder{
                color: $dark75;
            }
            border: 1px solid $dark50;
        }
    }

    &__button {
        position: absolute;
        content:"->";
        display: block;
        width: 44px;
        height: 44px;
        right: 0;
        bottom: 0;
        background-color: transparent;
        background: url('../img/arrow_forward.png') no-repeat 50%;
    }

    &__label {
        font-size: rem(12px);
        line-height: 15px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
        color: $dark100;
    }
}