extend ../../layout/main
include ../../components/dropdown/dropdown
include ../../components/header/header
include ../../components/button/button
include ../../components/footer/footer
include ../../components/field-subscribe/field-subscribe
include ../../components/calendar/calendar
include ../../components/like-btn/like-btn
include ../../components/comments/comments
include ../../components/information/information
include ../../components/booking/booking


block variables
    - var title = "Room details"
    - var description = "Room details page"

block content
    +header({})
    main.room-details
        .room-details__wrap
            section.room-details__content
                .room-details__info
                    h3.room-details__header Сведения о номере
                    +information({title:'Комфорт', text:'Шумопоглощающие стены'})
                    +information({title:'Удобство', text:'Окно в каждой из спален', icon:'location_cityicon'})
                    +information({title:'Уют', text:'Номер оснащен камином', icon: 'whatshot'})
                .room-details__vote
                    h3.room-details__header Впечатления от номера
                .room-details__reviews
                    h3.room-details__header Отзывы посетителей номера
                    +comments
            aside.room-details__booking
                +booking
    +footer