@import './../../../assets/scss/main.scss';
@import './../../../assets/scss/utils/vars.scss';

.room-details {
    &__wrap {
        @extend .container;
        padding-top: 70px;
        padding-bottom: 70px;
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 290px;
        .information__wrapper:last-child {
            margin-bottom: 15px;
            border: none;
        }
    }

    &__content {
        max-width: 710px;
        display: flex;
        flex-wrap: wrap;
    }

    &__reviews {
        flex-grow: 1;
        margin-bottom: 10px;
    }

    .comment {
        margin-bottom: 22px;
    }

    &__header {
        //font-family: 'Quicksand';
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 22px;
    }

    &__notes {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    &__rules {
        max-width: 262px;
        .room-details__header {
            margin-left: 20px;
            margin-bottom: 17px;
        }
    }

    &__cancel {
        max-width: 341px;
        margin-right: 8px;
        .room-details__header {
            margin-bottom: 17px;
        }
        &-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: $dark75;
        }
    }
}