extend ../../layout/main
include ../../components/dropdown/dropdown
include ../../components/header/header
include ../../components/button/button
include ../../components/footer/footer
include ../../components/field-subscribe/field-subscribe
include ../../components/calendar/calendar
include ../../components/like-btn/like-btn
include ../../components/comments/comments
include ../../components/information/information
include ../../components/booking/booking
include ../../components/bullet-list/bullet-list
include ../../components/pie-chart/pie-chart

block variables
    - var title = "Room details"
    - var description = "Room details page"

block content
    +header({})
    main.room-details
        .room-details__wrap
            section.room-details__content
                .room-details__info
                    h3.room-details__header Сведения о номере
                    +information({title:'Комфорт', text:'Шумопоглощающие стены'})
                    +information({title:'Удобство', text:'Окно в каждой из спален', icon:'location_cityicon'})
                    +information({title:'Уют', text:'Номер оснащен камином', icon: 'whatshot'})
                .room-details__vote
                    h3.room-details__header Впечатления от номера
                    +pie-chart({})
                .room-details__reviews
                    h3.room-details__header Отзывы посетителей номера
                    span.room-details__reviews-count 2 отзыва
                    +comments({})
                    +comments({name:'Патрисия Стёклышкова', time:'Неделю назад', text:'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'})
                .room-details__notes
                    .room-details__rules
                        h3.room-details__header Правила
                        +bullet-list({name:'', items:['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00']})
                    .room-details__cancel
                        h3.room-details__header Отмена
                        p.room-details__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            aside.room-details__booking
                +booking
    +footer