include ../checkbox/checkbox

mixin checkbox-list({name='Expandable checkbox list', items=[]})
    .checkbox-list__wrapper
        .checkbox-list__title
            p.checkbox-list__text= name
            .checkbox-list__buttons
                span.checkbox-list__button.checkbox-list__button--open
                span.checkbox-list__button.checkbox-list__button--close
        .checkbox-list__content
            -var i
            each item,i in items
                +checkbox({id: 'checkbox_'+i, title: item})