@import './../../../assets/scss/main.scss';

.bullet-list {
    line-height: 24px;
    &__title {
        font-weight: 700;
        font-size: rem(12px);
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: 13px;
    }
    &__item {
        display: flex;
        margin-bottom: 10px;
        color: $dark75;
        &:before {
            content:'';
            display: inline-block;
            width: 10px;
            height: 10px;
            background: $dark25;
            border-radius: 10px;
            margin-right: 10px;
            margin-top: 5px;
            flex-shrink: 0;
        }
    }
}