extend ../../layout/main
include ../../components/head/head

block variables
    - var title = "Headers and footers"
    - var description = "Headers and footers page"

block content
    +head
    .container