mixin toggle({name='toggle', title='Text'})
    .toggle__wrapper
        .toggle__row
            label.toggle__label
                input.toggle__input(type='checkbox', name=name)
                span.toggle__text= title