mixin checkbox({name='checkbox', title='Text'})
    .checkbox__wrapper
        .checkbox__row
            label.checkbox__label
                input.checkbox__input(type='checkbox', name=name)
                span.checkbox__text= title