mixin checkbox({id='checkbox', title='Text'})
    .checkbox__wrapper
        .checkbox__row
            input.checkbox__input(type='checkbox', id=id, name=id)
            label.checkbox__label(for=id)
            span.checkbox__text= title