extends ../layout/main

block variables
  - var title = 'Webpack + pug'
  - var description = 'Page description'
  - var pageClass = 'index-page'

block content
  section
    .container
      a(href='colors/colors.html') Colors & types
