extends ../layout/main

block variables
  - var title = 'Webpack + pug'
  - var description = 'Page description'
  - var pageClass = 'index-page'

block content
  section
    .container
      p Ui-kit pages
      a(href='colors.html') Colors & types<br>
      a(href='elements.html') Form elements<br>
      a(href='cards.html') Cards<br>
      a(href='headers-footers.html') Headers and footers<br><br>
      p Website pages
      a(href='landing.html') Landing page<br>
      a(href='search.html') Search room page<br>
      a(href='room-details.html') Room details page<br>
      a(href='registry.html') Registration page<br>
      a(href='sign-in.html') Sign in page