extends ../layout/main

block variables
  - var title = 'Webpack + pug'
  - var description = 'Page description'
  - var pageClass = 'index-page'

block content
  section
    .container
      a(href='colors/colors.html') Colors & types<br>
      a(href='elements/elements.html') Form elements<br>
      a(href='cards/cards.html') Cards<br>
      a(href='headers-footers/headers-footers.html') Headers and footers<br>
      a(href='landing/landing.html') Landing page<br>
      a(href='search/search.html') Search room page