@import "mixins";

/*
  Ð¡hoose one of the ways:
    1. handle menthod,
    2. use mixin;
*/

// 1. Example handle menthod (without mixin):

/*
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/Open-sans/Regular/OpenSans-Regular.woff') format('woff'), // Pretty Modern Browsers
       url('../fonts/Open-sans/Regular/OpenSans-Regular.ttf')  format('truetype'), // Safari, Android, iOS
       url('../fonts/Open-sans/Regular/OpenSans-Regular.svg') format('svg'); // Legacy iOS
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/Open-sans/Bold/OpenSans-Bold.woff') format('woff'), // Pretty Modern Browsers
       url('../fonts/Open-sans/Bold/OpenSans-Bold.ttf')  format('truetype'), // Safari, Android, iOS
       url('../fonts/Open-sans/Bold/OpenSans-Bold.svg') format('svg'); // Legacy iOS
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat/Regular/Montserrat-Regular.woff') format('woff'), // Pretty Modern Browsers
       url('../fonts/Montserrat/Regular/Montserrat-Regular.ttf')  format('truetype'), // Safari, Android, iOS
       url('../fonts/Montserrat/Regular/Montserrat-Regular.svg') format('svg'); // Legacy iOS
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat/Bold/Montserrat-Bold.woff') format('woff'), // Pretty Modern Browsers
       url('../fonts/Montserrat/Bold/Montserrat-Bold.ttf')  format('truetype'), // Safari, Android, iOS
       url('../fonts/Montserrat/Bold/Montserrat-Bold.svg') format('svg'); // Legacy iOS
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url('../fonts/Quicksand/Regular/Quicksand-Regular.woff') format('woff'), // Pretty Modern Browsers
       url('../fonts/Quicksand/Regular/Quicksand-Regular.ttf')  format('truetype'), // Safari, Android, iOS
       url('../fonts/Quicksand/Regular/Quicksand-Regulars.svg') format('svg'); // Legacy iOS
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url('../fonts/Quicksand/Bold/Quicksand-Bold.woff') format('woff'), // Pretty Modern Browsers
       url('../fonts/Quicksand/Bold/Quicksand-Bold.ttf')  format('truetype'), // Safari, Android, iOS
       url('../fonts/Quicksand/Bold/Quicksand-Bold.svg') format('svg'); // Legacy iOS
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('../fonts/MaterialIcons/Bold/MaterialIcons-Regular.ttf')  format('truetype'), // Safari, Android, iOS
  url('../fonts/MaterialIcons/Bold/MaterialIcons-Regular.svg') format('svg'); // Legacy iOS
       font-weight: normal;
       font-style: normal;
}
// 2. Example with mixin (example):
// NOTE: do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans';
// NOTE-2: files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin;

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);
