/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Helvetica-Base', Helvetica, Arial, sans-serif;

$h1FontSize              : 24px;
$h2FontSize              : 24px;
$h3FontSize              : 12px;

// Size
$mainFontColor           : rgba(31, 32, 65, 0.75);
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 24px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Template color
$dark100                 : #1F2041;
$dark75                  : rgba(31, 32, 65, 0.75);
$dark50                  : rgba(31, 32, 65, 0.5);
$dark25                  : rgba(31, 32, 65, 0.25);
$dark10                  : rgba(31, 32, 65, 0.1);
$dark5                   : rgba(31, 32, 65, 0.05);
$primary                 : #BC9CFF;
$gradient                : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);