@import './../../../assets/scss/main.scss';
@import './../../../assets/scss/utils/vars.scss';

.cards {
    @extend .container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .datepicker-here {
        width: 320px;
        margin-bottom: 163px;

    }
}
.room-search {
    margin-bottom: 40px;
}

.booking {
    margin-bottom: 40px;
}

.room-card {
    margin-bottom: 41px;
}
