extend ../../layout/main
include ../../components/head/head
include ../../components/input/input
include ../../components/room-search/room-search
include ../../components/calendar/calendar
include ../../components/dropdown/dropdown
include ../../components/button/button
include ../../components/registration/registration
include ../../components/radio/radio
include ../../components/toggle/toggle

block variables
    - var title = "Cards"
    - var description = "Cards page"

block content
    +head
    .container
        +room-search
        +registration
        