@import './../../../assets/scss/main.scss';

.cards {
    @extend .container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__column {
        margin-bottom: 40px;
    }

    &__datepicker {
        margin-bottom: 50px;

    }
}

.room-search {
    margin-bottom: 39px;
}

.booking {
    margin-bottom: 39px;
}

.room-card {
    margin-bottom: 41px;
}
