mixin comments({name='Мурад Сарафанов', time='5 дней назад', text='Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто не жаловался из соседей.'})
    .comment
        .comment__profile
            .comment__avatar
                img(src=require('../../components/comments/img/avatar.png').default)
            .comment__info
                .comment__name= name
                .comment__time= time
        .comment__wrap
            .comment__like
                +like-btn
            .comment__text= text