extend ../../layout/main
include ../../components/dropdown/dropdown
include ../../components/input/input

block variables
    - var title = "Form elements"
    - var description = "Form elements page"

block content
    .container
        .form-elements
            .form-elements__wrapper
                .form-elements__item
                    +input('text field','name1','Email')
                .form-elements__item
                    +input('text field', 'name2', 'This is pretty awesome')
                .form-elements__item
                    +dropdown('dropdown', 'name3', 'mask')