extend ../../layout/main

block variables
    - var title = "Form elements"
    - var description = "Form elements page"

block content
    .form-elements
        .container
            p I am elements page