extend ../../layout/main
include ../../components/dropdown/dropdown
include ../../components/input/input

block variables
    - var title = "Form elements"
    - var description = "Form elements page"

block content
    .container
        .form-elements
            .form-elements__wrapper
                .form-elements__item
                    +input('text field','name1', 'textfield1', 'Email')
                .form-elements__item
                    +input('text field', 'name2', 'textfield2', 'This is pretty awesome')
                .form-elements__item
                    +dropdown('dropdown', 'name3', 'mask')
                .form-elements__item
                    +input('masked text field', 'name1', 'masked-textfield', 'ДД.ММ.ГГГГ')
            .form-elements__wrapper
                .form-elements__item
                    +dropdown('date dropdown', 'name3', 'mask')
                .form-elements__item
                    +dropdown('date dropdown', 'name3', 'mask')
