extend ../../layout/main
include ../../components/dropdown/dropdown
include ../../components/input/input
include ../../components/field-subscribe/field-subscribe
include ../../components/calendar/calendar

block variables
    - var title = "Form elements"
    - var description = "Form elements page"

block content
    .container
        .form-elements
            .form-elements__wrapper
                .form-elements__item
                    +input({label:'text field', name:'name1', id:'textfield-id1', placeholder:'Email'})
                .form-elements__item
                    +input({label:'text field', name:'input2', id:'textfield-id2', placeholder:'This is pretty awesome'})
                .form-elements__item
                    +dropdown({label:'dropdown', name:'name3', id:'dropdown-id1'})
                .form-elements__item
                    +input({label:'masked text field', name:'name1', id:'masked-textfield', placeholder:'ДД.ММ.ГГГГ'})
            .form-elements__wrapper.form-elements__wrapper--group2
                .form-elements__item
                    +calendar({type:'dual', labelFrom:'date dropdown', labelTo:'date dropdown'})
                .form-elements__item
                    +calendar({label:'filter date dropdown'})
                .form-elements__item
                    +field-subscribe({})
                .form-elements__item
                    +dropdown({label:'dropdown', name:'drop1'})