.form-elements {
    font-family: 'Montserrat';
    padding: 143px 0;
    display: grid;
    grid-template-columns: 320px 260px 320px;
    grid-column-gap: 130px;
    

    &__wrapper {
        padding-bottom: 20px;
        width: 320px;

        &--group1 {
            //grid-column-start: 2;
        }
        
        &--group2 {
            .form-elements__item {
                margin-bottom: 36px;
            }
            grid-row-start: 2;
            grid-row-end: 4;
        }

        &--group3 {
            flex-grow: 0;
        }

        &--group5 {
            //grid-column-start:3;
            
        }

        &--group6 {
            grid-row-start: 2;
            grid-column-start:2;
        }

        &--group7 {
            grid-column-start:2;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;       
        text-transform: uppercase;
        margin-bottom: 17px;
    }
    
    &__item {
        margin-bottom: 20px;

        &--small-width {
            width: 266px;
        }

        &--wide {
            width: 711px;
        }
    }

    &__item-row {
        margin-bottom: 30px;
    }
}
