extend ../../layout/main
include ../../components/dropdown/dropdown
include ../../components/input/input

block variables
    - var title = "Form elements"
    - var description = "Form elements page"

block content
    .container
        .form-elements
            .form-elements__input
                +input('text field','name1','Email')
            .form-elements__input
                +input('text field', 'name2', 'This is pretty awesome')