.form-elements {
    font-family: 'Montserrat';
    padding: 143px 0;

    &__wrapper {
        padding-bottom: 20px;
        width: 320px;
        
        &--group2 {
            .form-elements__item {
                margin-bottom: 36px;
            }
        }
    }

    &__item {
        margin-bottom: 20px;

        &--small-width {
            width: 266px;
        }
    }
}
