@import './../../../assets/scss/main.scss';
@import './../../../assets/scss/utils/vars.scss';

.registry {
    border-bottom: 1px solid rgba(31,32,65,.25);
    padding-top: 19px;
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
    background-image: url('./img/reg-bg.png');
    background-position: center bottom;
    .registration {
        margin-left: 6px;
    }
}