@import './../../../assets/scss/main.scss';

.footer {
    flex: 0 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px $dark10;

    &__wrap {
        @extend .container;
        display: flex;
    }

    &__text {
        max-width: 260px;
        line-height: 24px;
    }

    &__main {
        padding-top: 7.429em;
        padding-bottom: 5.929em;
        border-bottom: 1px solid $dark25;
    }

    &__logo {
        margin-top: -0.286em;
        margin-right: 2.857em;
        &-img {
            margin-bottom: 1.286em;
        }
    }

    &__nav {
        display: flex;
        flex-grow: 1;

        &-header {
            font-weight: bold;
            font-size: rem(12px);
            line-height: 15px;
            text-transform: uppercase;
            color: $dark100;
            margin-bottom: 1.583em;
        }

        &-column {
            flex: 1;
        }

        &-item {
            margin-bottom: 1em;
        }

        &-link {
            line-height: 17px;
            color: $dark50;
            &:hover {
                color: $dark75;
            }
        }
    }

    &__subscribtion {
        max-width: 260px;
        line-height: 17px;
        color: $dark50;

        &-header {
            font-weight: bold;
            font-size: rem(12px);
            line-height: 15px;
            text-transform: uppercase;
            color: $dark100;
            margin-bottom: 1.667em;
        }

        &-text {
            line-height: 24px;
            color: $dark75;
            margin-bottom: 1.214em;
        }
    }

    &__bottom {
        box-shadow: 0px 10px 20px $dark5;
        .footer__wrap {
            justify-content: space-between;
            padding-top: 1.643em;
            padding-bottom: 1.643em;
        }
    }

    &__social {
        display: flex;
    }

    &__icon {
        margin-left: 1.571em;
    }
}

@media screen and (max-width: $tableWidth) {
    .footer {
        &__logo {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: $smTableWidth) {
    .footer {
        &__text {
            display: none;
        }

        &__nav {
            display: none;
        }

        &__subscribtion {
            display: none;
        }

        &__logo {
            margin: 0 auto;
        }

        &__main {
            padding-top: 8.571em;
            padding-bottom: 0;
            border: none;
        }

        &__bottom {
            .footer__wrap {
                padding-top: 0;
                flex-direction: column;
                padding-bottom: 8.571em;
            }
        }

        &__copyright {
            align-self: center;
            margin-bottom: 1.429em;
        }

        &__social {
            align-self: center;
            margin-bottom: 0;

            .footer__icon:first-child {
                margin-left: 0;
            }
        }
    }
}