@import './../../../assets/scss/main.scss';

.login {
    padding: 40px 30px 30px 30px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 380px;
    border: 1px solid rgba(0,0,0,.12);

    &__header {
        font-family: $subFont;
        font-weight: bold;
        font-size: rem(24px);
        line-height: 30px;
        margin-bottom: 14px;
    }

    &__email {
        margin-bottom: 5px;
    }

    &__password {
        margin-bottom: 20px;
    }

    &__button {
        margin-bottom: 30px;
    }

    &__option {
        &-link {
            line-height: 18px;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}