@import './../../../assets/scss/main.scss';

.rating {
    &__value {
        display: inline-block;
        font-family: 'Material Icons';
        cursor: default;
        font-size: rem(24px);
        color: $primary;
    }
}