@import './../../../assets/scss/utils/vars.scss';
.rating {
    &__value {
        display: inline-block;
        font-family: 'Material Icons';
        cursor: default;
        font-size: 24px;
        color: $primary;
    }
}