@import './../../../assets/scss/main.scss';
@import './../../../assets/scss/utils/vars.scss';

.main {
    background-image: url('img/landing-bg.png');
    background-position-y: bottom;
    border-top: 1px solid transparent;

    &__wrap {
        @extend .container;
        min-height: 830px;
    }
    .room-search {
        position: relative;
        top: 70px;
    }
}