mixin room-search
    .room-search
        h2.room-search__header Найдем номера под ваши пожелания
        +calendar({type:'dual', labelFrom:'Прибытие', labelTo:'Выезд'})
        +dropdown({label:'Гости', name:'guests', id:'guest-dropdown', placeholder:'Сколько гостей'})
        +button({title: 'Подобрать номер',type: 'submit'})
