mixin dropdown(label, name, text)
    .dropdown__wrapper
        label.dropdown__label(for=name)= label
        select.dropdown__elem(id=name)
            option(value)= 'vab'
            option(value)= 'vab2'