@import './../../../assets/scss/main.scss';
.dropdown {
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 320px;
    }

    &__elem {
        height: 44px;
        background: transparent;
        border: 1px solid $dark25;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 13px 15px;
        position: relative;
        color: $dark75;

        &::placeholder {
            font-family: $mainFont;
            line-height: 18px;
            color: $dark25;
        }
        &:hover + , &:focus +{
            .dropdown__expand:after, .dropdown__expand:before {
                background-color: $dark75;
            }
        }

        &:hover, &:focus {
            border: 1px solid $dark50;

            &::placeholder{
                color: $dark75;
            }
        }
    }

    &__label {
        font-size: rem(12px);
        line-height: 15px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5px;
        color: $dark100;
    }

    &__expand {
        position: absolute;
        width: 44px;
        height: 44px;
        right: 0;
        bottom: 0;
        background-color: transparent;

        &:before {
            position: absolute;
            display: block;
            content: '';
            top: 21px;
            left: 16px;
            width: 8px;
            height: 2px;
            background-color: $dark50;
            transform: rotate(45deg);
        }

        &:after {
            position: absolute;
            display: block;
            content: '';
            top: 21px;
            left: 21px;
            width: 8px;
            height: 2px;
            background-color: $dark50;
            transform: rotate(-45deg);
        }
    }

    &__options {
        position: absolute;
        width: 100%;
        padding: 6px 7px 0px 15px;
        border: 1px solid $dark50;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top: none;
        background-color: #fff;
        display: none;
        z-index: 10;
        box-shadow: 0px 10px 20px $dark5;
    }

    &__options-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
    }

    &__counter {
        width: 92px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn-minus, &__btn-plus {
        width: 30px;
        height: 30px;
        border: 1px solid $dark25;
        box-sizing: border-box;
        background-color: transparent;
        border-radius: 22px;
    }

    &__name {
        display: flex;
        align-items: center;
    }

    &__text {
        font-size: rem(12px);
        text-transform: uppercase;
        font-weight: bold;
    }

    &__quantity{
        font-weight: bold;
    }

    &__buttons {
        padding: 13px 0 11px 0;
        display: flex;
        justify-content: space-between;
        
    }

    &__cancel, &__apply {
        text-transform: uppercase;
        font-weight: bold;
        line-height: 15px;
        font-size: rem(12px);
        background: none;
        padding: 0;
    }

    &__cancel {
        color: $dark50;
    }

    &__apply {
        color: $primary;
    } 
}